aside
	header
		.tabs
	.inner
		section#index.show
			ul.group.edit.nested
				li.buildings
					.title(data-slug='buildings') Buildings
					ul.buildings
						li.add
							a(href='/admin/building/new')= 'Add new building'
						-var buildings = models['buildings']
						for building in buildings
							li(class=building.slug)
								a(href='/admin/building/edit/'+building.slug)= building.name
				li.tours
					.title(data-slug='tours') Tours
					ul.tours
						li.add
							a(href='/admin/tour/new')= 'Add new tour'
						-var tours = models['tours']
						for tour in tours
							li(class=tour.slug)
								a(href='/admin/tour/edit/'+tour.slug)= tour.name
				li.neighborhoods
					.title(data-slug='neighborhoods') Neighborhoods
					ul.neighborhoods
						li.add
							a(href='/admin/neighborhood/new')= 'Add new neighborhood'
						-var neighborhoods = models['neighborhoods']
						for neighborhood in neighborhoods
							li(class=neighborhood.slug)
								a(href='/admin/neighborhood/edit/'+neighborhood.slug)= neighborhood.name
				li.styles
					.title(data-slug='styles') Styles
					ul.styles
						li.add
							a(href='/admin/style/new')= 'Add new style'
						-var styles = models['styles']
						for style in styles
							li(class=style.slug)
								a(href='/admin/style/edit/'+style.slug)= style.name
			ul.group.account
				if(user)
					li
						a(href='/admin/profile/') Profile
					li
						a(href='/admin/logout/') Logout
				else
					li
						a(href='/admin/login/') Login
				