aside
	header
		.tabs
			.tab.filter(data-section='filter')= 'Filter'
			.tab.glossary(data-section='glossary')= 'Glossary'
			.tab.archive(data-section='archive')= 'Archive'
			.tab.profile(data-section='profile')= 'Profile'
			.tab.info.button(data-section='info')
	.inner
		section#glossary(class=(section == 'glossary' ? 'show' : ''))
			ul.group.edit
				ul.terms(class=(loadedType.p == 'terms' ? 'open' : ''))
					li.add
						a(href='/admin/term/new')= 'Add Glossary Term'
					-var currentAlpha
					-var terms = models['terms']
					for term in terms
						-var termAlpha = term.name.charAt(0)
						if(termAlpha != currentAlpha)
							-currentAlpha = termAlpha
							.alpha= termAlpha
						a.term(href='/admin/term/edit/'+term.slug)
							.name= term.name
							.definition= term.definition
		section#archive(class=(section == 'archive' ? 'show' : ''))
			ul.buildings
				li.add
					a(href='/admin/building/new')= 'Add Building'
				-var buildings = models['buildings']
				for building in buildings
					li(class=building.slug)
						a(href='/admin/building/edit/'+building.slug)= building.address
		section#filter(class=(section == 'filter' ? 'show' : ''))
			ul.group.edit.nested
				li.tours
					.title(data-slug='tours' class=(loadedType.p == 'tours' ? 'toggled' : '')) Tours
					ul.tours(class=(loadedType.p == 'tours' ? 'open' : ''))
						li.add
							a(href='/admin/tour/new')= 'Add Tour'
						-var tours = models['tours']
						for tour in tours
							li(class=tour.slug)
								a(href='/admin/tour/edit/'+tour.slug)= tour.name
				li.neighborhoods
					.title(data-slug='neighborhoods' class=(loadedType.p == 'neighborhoods' ? 'toggled' : '')) Neighborhoods
					ul.neighborhoods(class=(loadedType.p == 'neighborhoods' ? 'open' : ''))
						li.add
							a(href='/admin/neighborhood/new')= 'Add Neighborhood'
						-var neighborhoods = models['neighborhoods']
						for neighborhood in neighborhoods
							li(class=neighborhood.slug)
								a(href='/admin/neighborhood/edit/'+neighborhood.slug)= neighborhood.name
				li.styles
					.title(data-slug='styles' class=(loadedType.p == 'styles' ? 'toggled' : '')) Styles
					ul.styles(class=(loadedType.p == 'styles' ? 'open' : ''))
						li.add
							a(href='/admin/style/new')= 'Add Style'
						-var styles = models['styles']
						for style in styles
							li(class=style.slug)
								a(href='/admin/style/edit/'+style.slug)= style.name
			ul.group.account
				if(user)
					li
						a.title(href='/admin/profile/') Profile
					li
						a.title(href='/admin/logout/') Logout
				else
					li
						a.title(href='/admin/login/') Login
				