aside
	header
		.tabs
	.inner
		section#index.show
			ul.group.edit.nested
				li.buildings
					.title(data-slug='buildings' class=(loadedType.p == 'buildings' ? 'toggled' : '')) Buildings
					ul.buildings(class=(loadedType.p == 'buildings' ? 'open' : ''))
						li.add
							a(href='/admin/building/new')= 'Add new building'
						-var buildings = models['buildings']
						for building in buildings
							li(class=building.slug)
								a(href='/admin/building/edit/'+building.slug)= building.name
				li.tours
					.title(data-slug='tours' class=(loadedType.p == 'tours' ? 'toggled' : '')) Tours
					ul.tours(class=(loadedType.p == 'tours' ? 'open' : ''))
						li.add
							a(href='/admin/tour/new')= 'Add new tour'
						-var tours = models['tours']
						for tour in tours
							li(class=tour.slug)
								a(href='/admin/tour/edit/'+tour.slug)= tour.name
				li.neighborhoods
					.title(data-slug='neighborhoods' class=(loadedType.p == 'neighborhoods' ? 'toggled' : '')) Neighborhoods
					ul.neighborhoods(class=(loadedType.p == 'neighborhoods' ? 'open' : ''))
						li.add
							a(href='/admin/neighborhood/new')= 'Add new neighborhood'
						-var neighborhoods = models['neighborhoods']
						for neighborhood in neighborhoods
							li(class=neighborhood.slug)
								a(href='/admin/neighborhood/edit/'+neighborhood.slug)= neighborhood.name
				li.styles
					.title(data-slug='styles' class=(loadedType.p == 'styles' ? 'toggled' : '')) Styles
					ul.styles(class=(loadedType.p == 'styles' ? 'open' : ''))
						li.add
							a(href='/admin/style/new')= 'Add new style'
						-var styles = models['styles']
						for style in styles
							li(class=style.slug)
								a(href='/admin/style/edit/'+style.slug)= style.name
				li.terms
					.title(data-slug='terms' class=(loadedType.p == 'terms' ? 'toggled' : '')) Terms
					ul.terms(class=(loadedType.p == 'terms' ? 'open' : ''))
						li.add
							a(href='/admin/term/new')= 'Add new term'
						-var terms = models['terms']
						for term in terms
							li(class=term.slug)
								a(href='/admin/term/edit/'+term.slug)= term.name
			ul.group.account
				if(user)
					li
						a.title(href='/admin/profile/') Profile
					li
						a.title(href='/admin/logout/') Logout
				else
					li
						a.title(href='/admin/login/') Login
				