-var tour = object
if(tour)
	h4
		span= 'Other Buildings on '
		a(href='')= 'Tour'
	ul.buildings
		for building in tour
			li.building(data-slug=building.slug)
				.image
				.meta
					.name= building.name
					.address= building.address
					.style= building.style
					.era= building.era
					.researchBy= 'Contributed by ' + building.researchBy