include  ./mixins
.buildingWrap(data-tour=object.tour, data-address=object.address)
	.group.header
		h1.name
			span= object.name
			.arrows
				.arrow(data-direction='left')
				.arrow(data-direction='right')

	.group.toggle
		if(object.images)
			.toggler(data-group='photos', class='selected')= 'Photos'
			.toggler(data-group='map')= 'Map'

	.group.togglables
		.sliderWrap.togglable(data-group='photos', class=(object.images ? 'show' : ''))
			.slider
				if(object.images)
					.slideWrap
						each image, i in object.images
							.slide(data-index=i, data-id=image.id, class=(i == 0 ? 'show' : ''))
								.imageWrap
									.vert
										.horz
											img(src=image.path)
								.caption= image.caption

		.mapWrap.togglable(data-group='map', class=(!object.images ? 'show' : ''))
			.map
			.loader

	.group.meta
		ul
			if(style)
				li.style
					span.label= 'Style: '
					span.value= object.style
			if(object.dateConstructed)	
				li.dateConstructed
					span.label= 'Constructed: '
					span.value= object.dateConstructed
			if(object.architect)	
				li.architect
					span.label= 'Architect: '
					span.value= object.architect
			if(object.use)	
				li.use
					span.label= 'Use: '
					span.value= object.use
			if(object.researchBy)
				li.research
					span.label= 'Researched by: '
					span.value= object.researchBy+(object.researchYear ? ', '+object.researchYear : '')
			if(tour)	
				li.tour
					span.label= 'Tour: '
					span.value= tour.name
			if(neighborhood)	
				li.neighborhood
					span.label= 'Neighborhood: '
					span.value= neighborhood.name
	.group.paragraphs #{object.research}
	if(tourBuildings)
		if(tourBuildings.length)
			.group.tour
				h4
					span= 'Other Buildings on '
					a.tour(href='/tour/'+tour.slug, data-slug=tour.slug, data-id=tour.id, data-type='tour')= tour.name+' Tour'
				ul.buildings
					-var i = 0
					for building in tourBuildings
						-i++
						li.building(data-slug=building.slug, data-id=building.id)
							a(href='/building/'+building.slug)
								.image
									+thumb(building)
								.meta
									.name= building.name
									.address= building.address
									.style= building.style
									.era= building.era
									.researchBy= 'Contributed by ' + building.researchBy